<h3>Your cart:</h3>

<% @items.inspect %>



<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th>Pizza</th>
      <th>Price</th>
      <th>Qty.</th>
    </tr>
  </thead>
  <tbody>

    <% @items.each do |item| %>

    <tr>
      <td><%=item[0].title%></td>
      <td><%=item[0].price%></td>
      <td><%=item[1]%></td>
      <td></td>
      <td></td>
    </tr>

    <%end%>
  </tbody>
</table>

<p></p>