<h3>Your order:</h3>

<table id="table" class="table table-striped">
  <tr>
    <th>Pizza</th>
    <th>Qty.</th>
    <th>Price</th>
    <th>Name</th>
    <th>Phone</th>
  </tr>
  <tr>
    <td id="pizza_name">e</td>
    <td id="pizza-quantity">x</td>
    <td id="cost">a</td>
    <td id="name">m</td>
    <td id="phone">p</td>
  </tr>
  <tr>
    <td>key</td>
    <td>x</td>
    <td>a</td>
    <td>m</td>
    <td>p</td>
  </tr>
</table>

<p></p>